@import './common/var.scss';

.lh-button{
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $--color-white;
  border: $--border-base;
  color: $--color-text-regular;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  font-weight: $--button-font-weight;
  padding: $--button-padding-default;
  font-size: $--font-size-base;
  border-radius: $--border-radius-base;
  @each $type, $color in (primary: $--color-primary, success: $--color-success, warning: $--color-warning, info: $--color-info, danger: $--color-danger) {
    &--#{$type} {
      background-color: $color;
      color: #fff;
      border-color: $color;
    }
  }

  @each $type, $color in (primary: $--color-primary-hover, success: $--color-success-hover, warning: $--color-warning-hover, info: $--color-info-hover, danger: $--color-danger-hover) {
    &--#{$type}:hover {
      background-color: $color;
      color: #fff;
      border-color: $color;
    }
  }

  @each $type, $color in (primary: $--color-primary-hover, success: $--color-success-hover, warning: $--color-warning-hover, info: $--color-info-hover, danger: $--color-danger-hover) {
    &--#{$type}:focus {
      background-color: $color;
      color: #fff;
      border-color: $color;
    }
  }

  @each $type, $color in (primary: $--color-primary-active, success: $--color-success-active, warning: $--color-warning-active, info: $--color-info-active, danger: $--color-danger-active) {
    &--#{$type}:active {
      background-color: $color;
      color: #fff;
      border-color: $color;
    }
  }

  &--middle{
    padding: $--button-padding-middle;
    font-size: $--button-medium-font-size;
    border-radius: $--button-medium-border-radius;
  }
  &--small{
    padding: $--button-padding-small;
    font-size: $--button-small-font-size;
    border-radius: $--button-small-border-radius;
  }
  &--mini{
    padding: $--button-padding-mini;
    font-size: $--button-mini-font-size;
    border-radius: $--button-mini-border-radius;
  }

  &--text{
    border-color: transparent;
    color: $--color-primary;
    background: transparent;
    padding-left: 0;
    padding-right: 0;

    &:hover, &:focus{
      color: mix($--color-white, $--color-primary, $--button-hover-tint-percent);
      border-color: transparent;
      background-color: transparent;
    }

    &:active {
      color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
      border-color: transparent;
      background-color: transparent;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus{
      border-color: transparent;
    }
  }

  &.is-round {
    border-radius: 20px;
  }
}
