@import "common/var";

.lh-divider{
  background-color: $--border-color-base;
  position: relative;

  &--horizontal{
    display: block;
    height: 1px;
    width: 100%;
    margin: 24px 0;
  }

  &--vertical{
    display: inline-block;
    width: 1px;
    height: 1em;
    margin: 0 8px;
    vertical-align: middle;
    position: relative;
  }

  &__text{
    position: absolute;
    background-color: $--color-white;
    padding: 0 20px;
    font-weight: 500;
    color: $--color-text-primary;
    font-size: 14px;
  }
}

.is-left{
  left: 20px;
  transform: translateY(-50%);
}

.is-center{
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.is-right{
  right: 20px;
  transform: translateY(-50%);
}