@import 'common/var.scss';

.lh-message{
  min-width: $--message-min-width;
  box-sizing: border-box;
  border-radius: $--border-radius-base;
  border-width: $--border-width-base;
  border-style: $--border-style-base;
  border-color: $--border-color-lighter;
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background-color: $--message-background-color;
  transition: opacity 0.3s, transform .4s, top 0.4s;
  overflow: hidden;
  padding: $--message-padding;
  display: flex;
  align-items: center;

  &__content{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1;
    &:focus{
      outline-width: 0;;
    }
  }

  &__icon{
    margin-right: 10px;
  }

  &__closeBtn{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: $--message-close-icon-color;
    font-size: $--message-close-size;

    &:focus{
      outline-width: 0;
    }
    &:hover{
      color: $--message-close-hover-color;
    }
  }

  &--success {
    background-color: $--color-success-lighter;
    border-color: $--color-success-light;
  }

  &--success .lh-message__content{
    color: $--message-success-font-color;
  }

  &--info .lh-message__content{
    color: $--message-info-font-color;
  }

  &--warning {
    background-color: $--color-warning-lighter;
    border-color: $--color-warning-light;
  }
  
  &--warning .lh-message__content{
    color: $--message-warning-font-color;
  }

  &--error {
    background-color: $--color-danger-lighter;
    border-color: $--color-danger-light;
  }
  
  &--error .lh-message__content{
    color: $--message-danger-font-color;
  }
}

.el-icon-success{
  color: $--message-success-font-color;
}

.el-icon-info{
  color: $--message-info-font-color;
}

.el-icon-warning{
  color: $--message-warning-font-color;
}

.el-icon-error{
  color: $--message-danger-font-color;
}

.lh-message-fade-enter,
.lh-message-fade-leave-active{
  opacity: 0;
  transform: translate(-50%, -100%);
}