@import "common/var";

.lh-notification{
  display: flex;
  width: $--notification-width;
  padding: $--notification-padding;
  border-radius: $--notification-radius;
  box-sizing: border-box;
  border: 1px solid $--notification-border-color;
  position: fixed;
  background-color: $--color-white;
  box-shadow: $--notification-shadow;
  transition: opacity .3s, transform .3s, left .3s, right .3s, top .4s, bottom .3s;
  overflow: hidden;

  &.left{
    left: 16px;
  }
  &.right{
    right: 16px;
  }
}

.lh-notification-fade-enter{
  &.right{
    right: 0;
    transform: translateX(100%);
  }

  &.left{
    left: 0;
    transform: translateX(-100%);
  }
}

.lh-notification-fade-leave-active{
  opacity: 0;
}